# Editor
/.vscode/
# Rust-specific
/target
/rust-toolchain
/contest-lib/target
/contest-lib/Cargo.lock
# Local configuration
/contest_config
# Solution source files
/src/main.rs
/src/main.py
/src/main.cpp
/src/old
# Input/output files
/input
# Personal notes
# TODO `notes.md` to gitignore
## /notes.md
